<!--
  templateType: email_subscription_preferences_page
  isAvailableForNewContent: true
  label: Lead - email subscription preferences
  screenshotPath: ../../images/template-previews/subscription-preferences.png
-->


{% extends "../layouts/base-landingspagina.html" %}

{% block body %}
<section class="content-wrapper">
  <div class="systems-page">

    {# Subscription preferences form #}

    {% module "subscription_preferences"
      path="@hubspot/email_subscriptions"
    %}

  </div>
</section>
{% endblock body %}

    {% block footer %}
             {% module "footer" path="../../templates/partials/footer"  %}
      {% endblock footer %}
