{% import "/DeRegt/macro/margin-padding.html" as macros %}

<a id="{{ module.anchor }}" data-hs-anchor="true"></a>

<section class="feature">
  <div class="{{ macros.margin_padding(module.style.margin_block, module.style.padding_block) }} feature__wrapper" style="background-color: {{ module.style.backgroundcolor.color }}"> 
    <div class="container">
      {% if module.hero_text %}
        <div class="feature__hero-text">
          {{ module.hero_text }}
        </div>
      {% endif %}
      
      {% if module.features %}
        <div class="feature__list">
          {% for feature in module.features %}
            <div class="feature__item">
              {% if feature.title %}
                <h3 class="feature__title">{{ feature.title }}</h3>
              {% endif %}
              {% if feature.description %}
                <p class="feature__description">{{ feature.description|nl2br }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      
      <div class="buttons">
        {% if module.primary_button.text %}
          <a href="{{ module.primary_button.url }}" class="btn-primary">
            {{ module.primary_button.text }}
          </a>
        {% endif %}
        
        {% if module.secondary_button.text %}
          <a href="{{ module.secondary_button.url }}" class="btn-secondary">
            {{ module.secondary_button.text }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
