{% import "/DeRegt/macro/margin-padding.html" as macros %}

<a id="{{ module.anchor }}" data-hs-anchor="true"></a>

<section class="feature">
  <div class="{{ macros.margin_padding(module.style.margin_block, module.style.padding_block) }} feature__wrapper" style="background-color: {{ module.style.backgroundcolor.color }}"> 
    <div class="container default-padding">
      {% if module.hero_text %}
        <div class="feature__hero-text">
          {{ module.hero_text }}
        </div>
      {% endif %}
      
      {% if module.features %}
        <div class="feature__list">
          {% for feature in module.features %}
            <div class="feature__item">
              {% if feature.title %}
                <div class="feature__title">
                  <div class="feature__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
  <g clip-path="url(#clip0_655_8814)">
    <path d="M8.25 12.75L10.5 15L15.75 9.75" stroke="#1761E1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z" stroke="#1761E1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
  <defs>
    <clipPath id="clip0_655_8814">
      <rect width="24" height="24" fill="white"/>
    </clipPath>
  </defs>
</svg>
                  </div><h3>{{ feature.title }}</h3></div>
              {% endif %}
              {% if feature.description %}
                <div class="feature__description">{{ feature.description }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      
      {% if module.buttons|length > 0 %}
        <div class="feature__buttons">
          {% for btn in module.buttons %}
            {% set button_text = btn.text|trim %}
            {% set has_standard_button = button_text and btn.url.href %}
            {% set button_target = btn.url.target or ('_blank' if btn.url.open_in_new_tab else '_self') %}
            {% set button_rel = 'noopener' if button_target == '_blank' else None %}
            {% if has_standard_button %}
              <a href="{{ btn.url.href|escape_url }}" target="{{ button_target }}" {% if button_rel %}rel="{{ button_rel }}"{% endif %} class="feature__button{% if btn.style == 'outline' %} btn-secondary{% elif btn.style == 'outline-white' %} btn-secondary btn-secondary-white{% else %} btn-primary{% endif %}">{{ button_text }}</a>
            {% elif btn.cta_field %}
              <div class="feature__cta">
                {% cta guid="{{ btn.cta_field }}" %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
