<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: DeRegt - blog post
  screenshotPath: ../images/template-previews/deregt-blogpost.png
-->
{% set template_css = "../../css/f-templates/blog-post.css" %}
{% extends "./layouts/base-blog-post.html" %}

{% block body %}

{# Blog post wrapper #}
<div class="blog-post-heading">
  <div class="blog-post-heading__wrapper container">
  <div class="padding-default">
      <div class="blog-post-heading__breadcrumbs">
      {% module "module_16691228619751" path='/DeRegt/modules/breadcrumbs', label="breadcrumbs" %}
    </div>
    <div class="blog-post-heading__title-author">
    <div class="blog-post-heading__title">
    <h1>{{ content.name }}</h1>
      <svg class="yellow-block" xmlns="http://www.w3.org/2000/svg" width="48" height="6" viewBox="0 0 48 6" fill="none">
            <path d="M48 0H0V6H48V0Z" fill="#F1C61A"></path>
      </svg>
    </div>
      
      {% if content.blog_author %}
        <div class="blog-post-heading__author">
          <div class="contact-card">
            <div class="contact-card__main">
                {% if content.blog_author.avatar %}
                <div class="contact-card__media">
                  <img class="contact-card__avatar" src="{{ content.blog_author.avatar }}" alt="{{ content.blog_author.display_name|escape_attr }}" width="{{ content.blog_author.display_name|default(128) }}" height="{{ content.blog_author.display_name|default(128) }}" loading="eager">
                </div>
              {% endif %}
              <div class="contact-card__body">
                <p>Written by</p>
                  <p class="contact-card__name">{{ content.blog_author.display_name }}</p>
                {% if content.blog_author.bio %}
                  <p class="contact-card__title">{{ content.blog_author.bio }}</p>
                {% endif %}
                {% if content.blog_author.linkedin %}
                  <a href="{{ content.blog_author.linkedin }}" target="_blank">Linkedin</a>
                  {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
    </div>
  </div>
  </div>
  <div class="blog-post__meta">
        <time datetime="{{ content.publish_date }}" class="blog-post__timestamp">
          {{ content.publish_date | format_date('dd MMMM yyyy') }}
         
        </time>
        {% module "social_sharing"
          path="../modules/social-sharing",
          styles={
            "spacing": {
              "spacing": {
                "margin": {
                  "bottom": {
                    "value": 22,
                    "units": "px"
                  }
                }
              }
            }
          }
        %}
      </div>
      <div class="blog-post__featured-image-wrapper">
        {% if content.featured_image %}
          <img 
            class="blog-post__featured-image" 
            src="{{ content.featured_image }}" 
            alt="{{ content.featured_image_alt_text }}"
          >
          {% else %}
          <div class="blog-post__no-featured-image" style="height: 200px;"></div>
        {% endif %}
        {% if content.tag_list %}
        <div class="blog-post__tags">
          {% for tag in content.tag_list %}
            <a class="blog-post__tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}" rel="tag">{{ tag.name|escape_html }}</a>
          {% endfor %}
        </div>
      {% endif %}
      </div>


</div>
<div class="blog-post__content">
  <div class="blog-post__content__wrapper container">
    <article class="blog-post">
      {{ content.post_body }}
    </article>

      
    
    </article>
  </div>

  {# Blog post #}

  <div class="blog-post-section">
    
  </div>

  {# Blog comments #}

  {% if group.allow_comments %}
    <div class="blog-post-section">
      <div class="blog-comments">
        {% module "blog_comments_heading"
          path="@hubspot/rich_text",
          html="<h2>Blog comments</h2>"
        %}
        {% module "blog_comments"
          path="@hubspot/blog_comments"
        %}
      </div>
    </div>
  {% endif %}

  {# Related posts #}

</div>
<div class="cta-section">
  {% module "cta_text_image_blogpost"
    path="../modules/cta-text-image",
    label="CTA Text Image (Blog)",
    anchor="cta-specialist",
    reverse_text_image=false,
    img_on_top_mobile=true,
    title="Connect with our ROV specialist",
    richtext_field="<h6>Discover how DeRegt's custom cable solutions can meet your unique requirements. Whether you need cables for short or long distances, our experts are here to help you every step of the way. </h6><ul><li>Feasability check</li><li>Ask a question</li><li>Challenge us</li></ul>",
    client_name="Jeroen Romijn",
    client_function="ROV Cable specialist",
    client_number="Call 06 12 34 56 78",
    client_image={
      src: "https://26859049.fs1.hubspotusercontent-eu1.net/hubfs/26859049/Ellipse%2035.jpg",
      alt: "Jeroen Romijn",
      loading: "lazy",
      width: 80,
      height: 81,
      max_width: 80,
      max_height: 81
    },
    buttons=[
      {
        text: "Talk to a specialist",
        url: {
          href: "https://example.com/contact",
          type: "EXTERNAL"
        },
        style: "primary"
      },
      {
        text: "Request a free cable design",
        url: {
          href: "https://example.com/contact",
          type: "EXTERNAL"
        },
        style: "link"
      }
    ],
    image_field={
      src: "https://25402188.fs1.hubspotusercontent-eu1.net/hubfs/25402188/Boat%20drifting%20away%20in%20middle%20ocean%20after%20storm%20without%20course%20moonlight%20sky%20night%20skyline%20clouds%20background.%20Nature%20landscape%20screen%20saver.%20Life%20hope%20concept.%20Elements%20of%20this%20image%20furnished%20by%20NASA.jpeg",
      alt: "Boat drifting away in middle ocean after storm",
      loading: "lazy",
      width: 1000,
      height: 667
    },
    image_field_mobile={
      src: "https://25402188.fs1.hubspotusercontent-eu1.net/hubfs/25402188/Boat%20drifting%20away%20in%20middle%20ocean%20after%20storm%20without%20course%20moonlight%20sky%20night%20skyline%20clouds%20background.%20Nature%20landscape%20screen%20saver.%20Life%20hope%20concept.%20Elements%20of%20this%20image%20furnished%20by%20NASA.jpeg",
      alt: "Boat drifting away in middle ocean after storm (mobile)",
      loading: "lazy",
      width: 1000,
      height: 667
    },
    style={
      margin_block: "large",
      padding_block: "medium",
      only_padding_top: false,
      backgroundcolor: {
        color: "#152B56",
        opacity: 100
      },
      type_of_heading: "heading-2",
      color_heading: {
        color: "#ffffff",
        opacity: 100
      },
      color_text: {
        color: "#ffffff",
        opacity: 100
      }
    }
  %}
</div>


<div class="related posts-section">
  {% module "related_blogposts"
    path="../modules/blogs-short-list.module",
    label="Blogpost + extra kaart",
    anchor="related-blog",
    title="This also might interest you",
    text_button="More stories",
    link_field={
      href: "https://example.com/blog",
      type: "EXTERNAL"
    },
    cards_amount=2,
    kind_of_blog={
      blog_id: ""
    },
    label_for_blogpost="Blog",
    extra_card=[
      {
        image_field: {
          src: "https://26859049.fs1.hubspotusercontent-eu1.net/hubfs/26859049/blogregt.png",
          alt: "blogregt",
          loading: "lazy",
          width: 1796,
          height: 940,
          max_width: 1796,
          max_height: 940
        },
        text_title: "Transforming offshore wind to multi-use energy parks with cable pooling",
        text_tag: "whitepaper",
        url_whitepaper: {
          content_id: 112223875794,
          type: "CONTENT"
        },
        position_of_card: 2
      }
    ],
    style={
      margin_block: "no-margin",
      padding_block: "default",
      backgroundcolor: {
        color: "#EEF8FF",
        opacity: 100
      }
    }
  %}
</div>



{# footer #}
   {% module "website-footer"
      path="../modules/website-footer"
    %}
{% endblock body %}

