{% import "/DeRegt/macro/margin-padding.html" as macros %}

{% macro color_to_rgba(value) %}
  {% if value %}
    {% if value is string %}
      {{ value }}
    {% elif value.color %}
      {% set opacity = value.opacity if value.opacity is not none else 100 %}
      rgba({{ value.color|convert_rgb }}, {{ opacity / 100 }})
    {% endif %}
  {% endif %}
{% endmacro %}

{% set heading = module.heading|trim if module.heading else '' %}
{% set heading_tag = module.style.heading_tag if module.style and module.style.heading_tag else 'h2' %}
{% set highlights = module.highlights if module.highlights else [] %}
{% set button_group = module.button %}
{% set button_text = button_group.text|trim if button_group and button_group.text else '' %}
{% set button_url = button_group.url if button_group and button_group.url else none %}
{% set button_href = button_url.href if button_url and button_url.href else '' %}
{% set button_target = button_url.target if button_url and button_url.target else ('_blank' if button_url and button_url.open_in_new_tab else '_self') %}
{% set button_rel = 'noopener' if button_target == '_blank' else none %}
{% set button_cta = button_group.cta_field if button_group %}
{% set has_manual_button = button_text and button_href %}
{% set has_button = has_manual_button or button_cta %}
{% set button_style = button_group.style if button_group and button_group.style else 'primary' %}
{% set button_class = 'btn-primary' %}
{% if button_style == 'secondary' %}
  {% set button_class = 'btn-secondary' %}
{% elif button_style == 'secondary-white' %}
  {% set button_class = 'btn-secondary btn-secondary-white' %}
{% endif %}


{% set module.image_mobile_object = module.image_mobile if module.image_mobile.src else module.image_desktop %}
{% set has_any_image = module.image_desktop.src or module.image_mobile_object and module.image_mobile_object.src %}

{% set style_settings = module.style if module.style else {} %}
{% set section_background = color_to_rgba(style_settings.backgroundcolor_module)|trim %}
{% set block_background = color_to_rgba(style_settings.backgroundcolor)|trim %}

{% if not section_background %}
  {% set section_background = block_background %}
{% endif %}

{% if module.anchor %}
  <a id="{{ module.anchor }}" data-hs-anchor="true"></a>
{% endif %}

<section class="cta-whitepaper {{ macros.margin_padding(module.style.margin_block, module.style.padding_block) }}"{% if section_background %} style="background-color: {{ section_background }}"{% endif %}>
  <div class="cta-whitepaper__wrapper">
    <div class="container">
      <div class="cta-whitepaper__inner"{% if block_background %} style="background-color: {{ block_background }}"{% endif %}>
        <div class="cta-whitepaper__content">
          {% if heading %}
            <div class="cta-whitepaper__heading">
              <{{ heading_tag }} class="cta-whitepaper__title">{{ heading }}</{{ heading_tag }}>
              <svg class="cta-whitepaper__underline" xmlns="http://www.w3.org/2000/svg" width="48" height="6" viewBox="0 0 48 6" fill="none" role="presentation" aria-hidden="true">
                <path d="M48 0H0V6H48V0Z" fill="#F1C61A" />
              </svg>
            </div>
          {% endif %}

          {% if highlights|length %}
            <ul class="cta-whitepaper__list">
              {% for item in highlights %}
                {% set item_text = item.text|trim if item.text else '' %}
                {% if item_text %}
                  <li class="cta-whitepaper__list-item">
                    <span class="cta-whitepaper__icon" aria-hidden="true"></span>
                    <span class="cta-whitepaper__list-text">{{ item_text }}</span>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}

          {% if has_button %}
            <div class="cta-whitepaper__cta">
              {% if has_manual_button %}
                <a href="{{ button_href|escape_url }}" class="{{ button_class }}" target="{{ button_target }}"{% if button_rel %} rel="{{ button_rel }}"{% endif %}>{{ button_text }}</a>
              {% else %}
                <div class="cta-whitepaper__cta-embed">
                  {% cta guid="{{ button_cta }}" %}
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>

        {% if has_any_image %}
          <div class="cta-whitepaper__media">
            {% if module.image_desktop.src %}
              {% set desktop_loading = module.image_desktop.loading != 'disabled' ? 'loading=\"' ~ module.image_desktop.loading|escape_attr ~ '\"' : '' %}
              {% set desktop_width = module.image_desktop.width if module.image_desktop.width else module.image_desktop.max_width %}
              {% set desktop_height = module.image_desktop.height if module.image_desktop.height else module.image_desktop.max_height %}
              {% set desktop_dimensions = '' %}
              {% if desktop_width and desktop_height %}
                {% set desktop_dimensions = 'width=\"' ~ desktop_width|escape_attr ~ '\" height=\"' ~ desktop_height|escape_attr ~ '\"' %}
              {% endif %}
              <img class="cta-whitepaper__image cta-whitepaper__image--desktop" src="{{ module.image_desktop.src|escape_url }}" alt="{{ module.image_desktop.alt|default('Whitepaper cover')|escape_attr }}"{% if desktop_loading %} {{ desktop_loading|safe }}{% endif %}{% if desktop_dimensions %} {{ desktop_dimensions|safe }}{% endif %}>
            {% endif %}

            {% if module.image_mobile_object and module.image_mobile_object.src %}
              {% set mobile_loading = module.image_mobile_object.loading != 'disabled' ? 'loading=\"' ~ module.image_mobile_object.loading|escape_attr ~ '\"' : '' %}
              {% set mobile_width = module.image_mobile_object.width if module.image_mobile_object.width else module.image_mobile_object.max_width %}
              {% set mobile_height = module.image_mobile_object.height if module.image_mobile_object.height else module.image_mobile_object.max_height %}
              {% set mobile_dimensions = '' %}
              {% if mobile_width and mobile_height %}
                {% set mobile_dimensions = 'width=\"' ~ mobile_width|escape_attr ~ '\" height=\"' ~ mobile_height|escape_attr ~ '\"' %}
              {% endif %}
              <img class="cta-whitepaper__image cta-whitepaper__image--mobile" src="{{ module.image_mobile_object.src|escape_url }}" alt="{{ module.image_mobile_object.alt|default('Whitepaper cover')|escape_attr }}"{% if mobile_loading %} {{ mobile_loading|safe }}{% endif %}{% if mobile_dimensions %} {{ mobile_dimensions|safe }}{% endif %}>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
