.cta-whitepaper {
  background-color: var(--clr-blue-royal-xlight);
}

.cta-whitepaper .padding-default{
  padding-top: 40px;
  padding-bottom: 40px;
}
.cta-whitepaper__inner{
  
}

.cta-whitepaper__wrapper {
  width: 100%;
}

.cta-whitepaper .container {
  display: flex;
  justify-content: center;
}

.cta-whitepaper__inner {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  width: 100%;
  padding-inline: 16px;
}

.cta-whitepaper__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--clr-blue-midnight);
}

.cta-whitepaper__heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cta-whitepaper__title {
  margin: 0;
  color: var(--clr-blue-midnight);
}

.cta-whitepaper__underline {
  width: 48px;
  height: 6px;
}

.cta-whitepaper__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.cta-whitepaper__list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--fs-base);
  line-height: 1.5;
  color: inherit;
}

.cta-whitepaper__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--clr-blue-midnight);
  font-weight: 600;
}


.cta-whitepaper__cta {
  display: flex;
}

.cta-whitepaper__cta .btn-secondary,
.cta-whitepaper__cta .btn-primary {
  width: fit-content;
}

.cta-whitepaper__cta-embed {
  display: inline-flex;
}

.cta-whitepaper__media {
  display: flex;
  justify-content: center;
  max-width: 159px;
  margin: 0 auto;
}

.cta-whitepaper__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cta-whitepaper__image--desktop {
  display: none;
}

.cta-whitepaper__image--mobile {
  display: block;
  max-width: 240px;
}


@media (min-width: 768px) {
  .cta-whitepaper.padding-default {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .cta-whitepaper__inner {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding-inline: 40px;
  }

  .cta-whitepaper__content,
  .cta-whitepaper__media {
    flex: 1;
  }

  .cta-whitepaper__media {
    justify-content: flex-end;
    max-width: unset;
    min-width: 344px;
  }


}
