{% import "/DeRegt/macro/margin-padding.html" as macros %}

<a id="{{ module.anchor }}" data-hs-anchor="true"></a>
<section class="faqs {{ macros.margin_padding(module.style.margin_block, module.style.padding_block) }}" style="background-color: {{ module.style.backgroundcolor }}"> 
  <div class="faqs__wrapper"> 
      <div class="container">

          <div class="faqs__intro">

     
            {% if module.heading %}<h2 class="faqs__title">{{ module.heading }}</h2>   
            <svg class="yellow-block" xmlns="http://www.w3.org/2000/svg" width="48" height="6" viewBox="0 0 48 6" fill="none">
              <path d="M48 0H0V6H48V0Z" fill="#F1C61A"></path>
              </svg>
            {% endif %}

          </div>
         <div class="faqs__accordion">

            {% for item in module.faq_item %}
            <div class="faqs__accordion-item">
              <button class="faqs__accordion-button" aria-expanded="false">
                  <h6 class="faqs__accordion-title">{{ item.faq_heading }}</h6>
                  <span class="faqs__accordion-icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
  <path d="M26 12L16 22L6 12" stroke="#152B56" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
              </button>
              <div class="faqs__accordion-content">
                  {{ item.faq_text }}
              </div>
            </div>
            {% endfor %}

          </div>
      </div>
  </div>
</section>
{% import "/DeRegt/macro/margin-padding.html" as macros %}

<a id="{{ module.anchor }}" data-hs-anchor="true"></a>
<section class="faqs default-padding {{ macros.margin_padding(module.style.margin_block) }}" style="background-color: {{ module.style.backgroundcolor }}"> 
  <div class="faqs__wrapper"> 
      <div class="container">

          <div class="faqs__intro">

     
            {% if module.heading %}<h2 class="faqs__title">{{ module.heading }}</h2>   
            <svg class="yellow-block" xmlns="http://www.w3.org/2000/svg" width="48" height="6" viewBox="0 0 48 6" fill="none">
              <path d="M48 0H0V6H48V0Z" fill="#F1C61A"></path>
              </svg>
            {% endif %}

          </div>
         <div class="faqs__accordion">

            {% for item in module.faq_item %}
            <div class="faqs__accordion-item">
              <button class="faqs__accordion-button" aria-expanded="false">
                  <h6 class="faqs__accordion-title">{{ item.faq_heading }}</h6>
                  <span class="faqs__accordion-icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
  <path d="M26 12L16 22L6 12" stroke="#152B56" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
              </button>
              <div class="faqs__accordion-content">
                  {{ item.faq_text }}
              </div>
            </div>
            {% endfor %}

          </div>
      </div>
  </div>
</section>
