{% import "/DeRegt/macro/margin-padding.html" as macros %}
{% import "/DeRegt/macro/contact-card.html" as contact_card %}

{% macro color_to_rgba(value) %}
  {% if value %}
    {% if value is string %}
      {{ value }}
    {% elif value.color %}
      {% set opacity = value.opacity if value.opacity is not none else 100 %}
      rgba({{ value.color|convert_rgb }}, {{ opacity / 100 }})
    {% endif %}
  {% endif %}
{% endmacro %}


<a id="{{ module.anchor }}" data-hs-anchor="true"></a>
<section class="blockquote-person {{ macros.margin_padding(module.style.margin_block, '') }}" {% if color_to_rgba(module.style.backgroundcolor_module)|trim %} style="background-color: {{ color_to_rgba(module.style.backgroundcolor_module)|trim }}"{% endif %}>
<div class="container container-{{ module.style.container_width }}">
<blockquote class="{{ macros.margin_padding('', module.style.padding_block) }}" {% if color_to_rgba(module.style.backgroundcolor)|trim or color_to_rgba(module.style.text_color)|trim %} style="{% if color_to_rgba(module.style.backgroundcolor)|trim %}background-color: {{ color_to_rgba(module.style.backgroundcolor)|trim }}; {% endif %} {% if color_to_rgba(module.style.text_color)|trim %}color: {{ color_to_rgba(module.style.text_color)|trim }}; {% endif %}"{% endif %}>
    <div class="blockquote-person__box">
      {% if module.quote %}
          {{ module.quote }}
      {% endif %}

      {% if module.contact_card.show %}
        <div class="blockquote-person__contact-card blockquote-person__contact-card--{{ module.style.contact_card_theme }}">
          {{ contact_card.render(module.contact_card) }}
        </div>
      {% endif %}
    </div>
</blockquote>
</div>

</section>
