.hs-blog-post{
  background-color: #fff;
}
.blog-post .hs_cos_wrapper_type_rich_text{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
/* Blog Post heading */
.blog-post-heading .padding-default{
  padding-top: 50px;
}

.blog-post-heading__breadcrumbs{
  margin-bottom: 24px;
}
.blog-post-heading__title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.blog-post-heading__title-author{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.blog-post-heading__title-author a{
  color: var(--clr-blue-royal);
  text-decoration: none;
}
.blog-post-heading__author .contact-card{
  padding-top: 0;
}
.blog-post-heading__author  .contact-card__body{
  gap: 0;
}
.blog-post__featured-image{
  display: block;
  width: 100%;
  height: auto;
}
.blog-post__featured-image-wrapper{
  position: relative;
}
/* tags  */
.blog-post__tags{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  position: absolute;
  top: auto;
  bottom: 24px;
  right: 24px;
  left: auto;
  z-index: 2;
    max-width: 300px;
    justify-content: flex-end;

}
.blog-post__tag-link{    
  background-color: var(--clr-blue-royal);
    border-radius: 8px;
    color: var(--clr-blue-royal-xlight);
    font-weight: 500;
    left: 24px;
    padding: 8px 16px;
  text-decoration: none;
}
/* Blog post content */
.blog-post__content__wrapper{
  max-width: 800px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.blog-post__content__wrapper .container{
padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px){
  .blog-post-heading .padding-default{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .blog-post-heading__title-author{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .blog-post-heading__author{
    min-width: 277px;
  }
  .blog-post__featured-image{
    height: 560px;
    object-fit: cover;
    width: 100%;
  }
  .blog-post__content__wrapper{
    padding-top: 64px;
    padding-bottom: 64px;
  }

}

/* Date */

.blog-post__timestamp {
  display: block;
  margin-bottom: 0.7rem;
}

/* Author */

.blog-post-heading__author img{
  box-shadow: none;
}

/* Content */

.blog-post__body img {
  height: auto;
  max-width: 887px !important;
  margin-right: 30px;
  margin-bottom: 80px;
}
@media (max-width: 768px){
  .blog-post__body img {
  margin-bottom: 20px;
    margin-right: 0;
}
}
.blog-post__body img[style*="float: right"] {
    margin-left: 30px;
    margin-right: 0px;
}

/* Comments */

.blog-comments .hs-submit {
  text-align: center;
}

.blog-comments .comment-reply-to {
  border: 0 none;
}

.blog-comments .comment-reply-to:hover,
.blog-comments .comment-reply-to:focus,
.blog-comments .comment-reply-to:active {
  background-color: transparent;
  text-decoration: underline;
}


.blog-post__body ul {
 position: relative; 
  list-style: none;
  margin-left: 15px;
}
.blog-post__body ol {
   margin-left: 15px;
}
.blog-post__body ul li {
  padding-left: 17px
}  
.blog-post__body li:marker {
  display: none;
}

.blog-post__body ul li:before {
  color: var(--clr-black);
    content: "\e91d";
    font-family: icomoon;
    left: 0;
    position: absolute;  
  }

.blog-post-section .card-blog {
padding-bottom: 3.75rem;  
}

@media only screen and (max-width: 1350px){
  .blog-post-section .card-blog,
  .blog-post__body {
padding: 0 1.875rem;
  }
}
@media only screen and (max-width: 768px){
.blog-post-section .blog-post .blog-post__body img{
  width: 100% !important;
  }
}

@media screen and (max-width: 1350px) and (min-width: 768px){
  .blog-post-section .blog-post .blog-post__body img{
  width: 50% !important;
  }
}