{% import "/DeRegt/macro/margin-padding.html" as macros%}
<script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>


<a id="{{ module.anchor }}" data-hs-anchor="true"></a>

<section class="client-logos">
       <div class="{{ macros.margin_padding(module.style.margin_block, module.style.padding_block) }} default__wrapper " style="background-color: {{ module.style.backgroundcolor.color }}"> 
 <div class="container">
           
    <div class="client-logos__container">
        {% if module.title %}
         <h2 style="color: {{ module.style.color_heading.color }}">{{ module.title }}</h2>
         {% endif %}
                  {{ module.richtext_field }}
      

       
      <div class="client-logos__wrapper">
<div id="splide" class="splide" role="group">
  <div class="splide__track">
		<ul class="splide__list">
        {% for item in module.logo %}
			<li class="splide__slide"> <figure class="client-logos__logo">
                                {% if item.src %}
                                {% set loadingAttr = item.loading != 'disabled' ? 'loading="{{ item.loading }}"' : '' %}
                                <img src="{{ resize_image_url(item.src, item.width, item.height) }}" alt="{{ item.alt }}" width="171" height="71" {{ loadingAttr }}>
                                {% endif %}
                            </figure></li>
      
      {% endfor %}

		</ul>
  </div>
</div>
<script>
  document.addEventListener( 'DOMContentLoaded', function() {
var splide = new Splide( '.splide', {
  type   : 'slide',
  padding: '3rem',
  arrows: false,
    gap: 15,
    perPage: 5,
  breakpoints: {
		640: {
			perPage: 2,
		},
  }
} );

    splide.mount();
     
  } );
</script>

        
      </div>
      
      </div>        
 </div>
   </div>
</section>
           
