{% import "/DeRegt/macro/margin-padding.html" as macros %}

<a id="{{ module.anchor }}" data-hs-anchor="true"></a>

<section class="text-image-simple">
  <div class="{{ macros.margin_padding(module.style.margin_block, module.style.padding_block) }} text-image-simple__wrapper" style="background-color: {{ module.style.backgroundcolor.color }}"> 
    <div class="container">
      <div class="text-image-simple__content">
        {% if module.text_field %}
          <div class="text-image-simple__text" style="color: {{ module.style.text_color.color }}">
            {{ module.text_field|nl2br }}
          </div>
        {% endif %}
        
        {% if module.image_field.src %}
          <div class="text-image-simple__image">
            {% set sizeAttrs = 'width="{{ module.image_field.width|escape_attr }}" height="{{ module.image_field.height|escape_attr }}"' %}
            {% if module.image_field.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ module.image_field.width|escape_attr }}" height="{{ module.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.image_field.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ module.image_field.max_width|escape_attr }}" height="{{ module.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading|escape_attr }}"' : '' %}
            <img src="{{ module.image_field.src|escape_url }}" alt="{{ module.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

