{% import "/deregt/macro/margin-padding.html" as macros %}

<a id="{{ module.anchor }}" data-hs-anchor="true"></a>

<section class="bloglist">
  <div class="{{ macros.margin_padding(module.style.margin_block, module.style.padding_block) }} default__wrapper" style="background-color: {{ module.style.backgroundcolor.color }}"> 
    <div class="container">

      <div class="bloglist__text">
        <div class="bloglist__text__title">
          <h2>{{ module.title }}</h2>
          <svg class="yellow-block" xmlns="http://www.w3.org/2000/svg" width="48" height="6" viewBox="0 0 48 6" fill="none">
            <path d="M48 0H0V6H48V0Z" fill="#F1C61A"/>
          </svg>
        </div>
        <a class="bloglist__readmore btn-secondary btn-small" href="{{ module.link_field }}">{{ module.text_button }}</a>
      </div>
{% if module.kind_of_blog %}
      {% set blogposts = blog_recent_tag_posts(module.kind_of_blog, [], module.cards_amount, "AND") %}
      {% set blog_tag_label = module.label_for_blogpost %}

      {# --- Maak lijsten --- #}
      {% set def_list = [] %}
      {% for post in blogposts %}
        {% do def_list.append({
          "type": "blog",
          "data": post
        }) %}
    {% set loopnumber = loop.index %}
        {% for extra in module.extra_card %}
        {% if extra.position_of_card == loopnumber %}
          {% do def_list.append({
            "type": "extra",
            "data": extra
          }) %}
        {% endif %}
        {% endfor %}
    
      {% endfor %}
{% else %}
      {% for extra in module.extra_card %}
      {% do def_list.append({
            "type": "extra",
            "data": extra
          }) %}
      {% endfor %}
 {% endif %}

      <ul class="bloglist__listing">
        {% for item in def_list %} 
          {% if item.type == "blog" %}
            {% set post = item.data %}
            {% set card_img = post.featured_image|default('') %}
            {% set card_tag = module.label_for_blogpost %}
            {% set card_title = post.name %}
            {% set card_url = post.url|default('#') %}
          {% elif item.type == "extra" %}
            {% set extra = item.data %}
            {% set card_img = extra.image_field.src|default('') %}
            {% set card_tag = extra.text_tag %}
            {% set card_title = extra.text_title %}
            {% set card_url = extra.url_whitepaper.href|default('#') %}
              {% set card_position = extra.position_of_card %}
          {% endif %}
  
            <li class="card">
          
              <a href="{{ card_url }}">
                <div class="card__container">
                  <div class="card__tags">
                    <div class="card__tag">{{ card_tag }}</div>
                  </div>
                  <div class="card__image" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(25, 77, 180, 0.60) 100%), url('{{ card_img }}') center / cover no-repeat;"></div>
                  <div class="card__text">
                    <h3>{{ card_title }}</h3>
                    <div class="card__readmore">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <g clip-path="url(#clip0_460_2129)">
                          <path d="M3.125 10H16.875" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M11.25 4.375L16.875 10L11.25 15.625" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                          <clipPath id="clip0_460_2129"><rect width="20" height="20" fill="white"/></clipPath>
                        </defs>
                      </svg>
                    </div>
                  </div>
                </div>
              </a>
            </li>
       
        {% endfor %}
      </ul>

      <div class="bloglist__footer">
        <a class="bloglist__readmore btn-secondary btn-small" href="{{ module.link_field }}">{{ module.text_button }}</a>
      </div>

    </div>
  </div>
</section>
