
.btn-primary {
  background-color: var(--primary-color);
  color: #1f2937;
  padding: 16px 24px;
  border: none;
  border-radius: 25px;
  font-size: var(--body-font-size);
  font-weight: 650;
line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.2s;
  text-align: center;
}

.btn-primary:hover {
  background-color: var(--clr-corn-secondary);
}

.btn-secondary {
  background-color: transparent;
  color: var(--clr-blue-midnight);
  padding: 16px 24px;
  border: 1px solid var(--clr-blue-royal-medium-light);
  border-radius: 25px;
  font-size: var(--body-font-size);
  font-weight: 650;
line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  text-align: center;
}

.btn-secondary:hover {
  background-color: #3b82f6;
  color: #ffffff;
}

.btn-secondary-white{
  border-color: #ffffff;
  color: #ffffff ;
}