body {
  line-height: 1.4;
  overflow-wrap: break-word;
  overflow-x: hidden;
  max-width: 100%;
  word-break: break-word;
  height: 100%;
  background-color: var(--body-background-color);
}

html[lang^='ja'] body,
html[lang^='zh'] body,
html[lang^='ko'] body {
  line-break: strict;
  overflow-wrap: normal;
  word-break: break-all;
}

/* Paragraphs */

p {
  margin: 0;
  font-size: var(--body-font-size);
  font-weight: 400;
  font-family: var(--ff-text);
  line-height: 1.9;
}

/* Anchors */

a {
  cursor: pointer;
}

/* Headings */
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
h1, .heading-1 {
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  color: var(--h1-color);
  text-transform: var(--h1-transform);
  font-weight: 500;
  line-height: 100%;
}

h2, .heading-2 {
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  color: var(--h2-color);
  text-transform: var(--h2-transform);
  font-weight: 400;
  line-height: 120%;
}

h3, .heading-3 {
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  color: var(--h3-color);
  text-transform: var(--h3-transform);
  font-weight: 400;
  line-height: 120%;
}

h4, .heading-4 {
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  color: var(--h4-color);
  text-transform: var(--h4-transform);
}

h5, .heading-5 {
  font-family: var(--h5-font-family);
  font-size: var(--h5-font-size);
  color: var(--h5-color);
  text-transform: var(--h5-transform);
  line-height: 36px;
}

h6, .heading-6 {
  font-family: var(--h6-font-family);
  font-size: var(--h6-font-size);
  color: var(--h6-color);
  text-transform: var(--h6-transform);
  line-height: 150%;
  font-weight: 400;
}

/* svg under title  */
.yellow-block {
  display: block;
  margin-top: 8px;
}



/* Lists */

ul,
ol {
  padding-left: 1rem;
  margin: 0;
}

ul li,
ol li {
  font-family: var(--ff-text);
  line-height: 1.9;
}

ul ul,
ol ul,
ul ol,
ol ol {
  /* margin: 1.4rem 0; */
}

.no-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.no-list li {
  margin: 0;
}

/* Code blocks */

pre {
  overflow: auto;
}

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  padding-left: 1rem;
  border-left: 10px solid;
  margin: 0;
}

/* Figures */

figure {
  margin: 0;
}

/* Horizontal rules */

hr {
  border: 0 none;
  border-bottom: 1px solid;
}

/* Subscripts and superscripts */

sup,
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Image alt text */

img {
  height: auto;
  max-width: 100%;
  font-size: 1rem;
  word-break: normal;
}

/* Buttons */

button {
  cursor: pointer;
  font-weight: 700;
}
